@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.button {
  display: inline-block;
  padding: 20px 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: v.$white-color-basic;
  text-decoration: none;
  background-color: v.$additional-color-basic;
  border: none;
  cursor: pointer;
}
