@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.feedback {
  padding-top: 177px;
  padding-bottom: 40px;
  min-height: 638px;
  background-color: v.$dark-color;
  background-image: url("/img/feedback/form-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: left -33px top 0;
  background-size: 121% 100%;

  @media (resolution >= 2dppx) {
    background-image: url("/img/feedback/form-mobile@2x.webp");
  }

  @include m.tablet {
    padding-top: 187px;
    min-height: 680px;
    background-image: url("/img/feedback/form-tablet@1x.webp");
    background-position: left 0 bottom 0;
    background-size: 100% 100%;

    @media (resolution >= 2dppx) {
      background-image: url("/img/feedback/form-tablet@2x.webp");
    }
  }

  @include m.desktop {
    min-height: 760px;
    padding-top: 296px;
    background-image: url("/img/feedback/form-desktop@1x.webp");
    background-position: left 0 bottom 0;
    background-size: 100% 100%;

    @media (resolution >= 2dppx) {
      background-image: url("/img/feedback/form-desktop@2x.webp");
    }
  }
}

.feedback__container {
  color: v.$white-color-basic;
  text-align: center;
  padding-left: 31px;
  padding-right: 31px;

  @include m.tablet {
    padding-left: 204px;
    padding-right: 204px;
  }

  @include m.desktop {
    padding-left: 240px;
    padding-right: 240px;
  }
}

.feedback__container h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 17px;

  @include m.tablet {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 23px;
  }

  @include m.desktop {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 18px;
  }
}

.feedback__container p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-left: -2px;
  }

  @include m.desktop {
    margin-bottom: 38px;
  }
}

.feedback__container p br {
  @include m.tablet {
    display: none;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include m.tablet {
    gap: 12px;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 30px;
  }
}

.feedback__form-label {
  cursor: pointer;
  display: grid;
}

.feedback__form-label:focus-within .feedback__form-name {
  opacity: 0;
  z-index: -1;
  transition: opacity ease 0.3s;
}

.feedback__form-label:has(.feedback__form-input:not(:placeholder-shown)) .feedback__form-name {
  opacity: 0;
  transition: opacity ease 0.3s;
}

.feedback__form-name,
.feedback__form-input {
  display: block;
  padding: 18px 15px 13px;
  grid-area: 1 / 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  border: none;
  background-color: v.$white-color-basic;

  @include m.tablet {
    font-size: 16px;
    line-height: 16px;
    padding: 20px 30px 16px;
    box-shadow: inset 0 0 0 1px v.$additional-color-200;
  }

  @include m.desktop {
    padding-top: 21px;
    padding-bottom: 14px;
  }
}

.feedback__form-name {
  z-index: 1;
  color: rgba(v.$primary-color, 0.5);
}

.feedback__form-input {
  color: v.$primary-color;
  background-color: v.$white-color-basic;
  border-radius: 2px;
  cursor: pointer;

  &::placeholder {
    color: rgba(v.$primary-color, 0.5);
    opacity: 0;
    transition: opacity ease 0.3s;
  }

  &:focus-within::placeholder {
    color: rgba(v.$primary-color, 0.5);
    opacity: 1;
  }

  @include m.tablet {
    box-shadow: inset 0 0 0 1px v.$additional-color-200;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px v.$additional-color-basic;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px v.$primary-color;
    outline: none;
  }

  &:disabled {
    box-shadow: inset 0 0 0 1px v.$disabled-color;
    color: rgba(v.$disabled-color, 0.5);
    pointer-events: none;
    cursor: none;
  }

  &--error,
  &--error:focus {
    box-shadow: inset 0 0 0 1px v.$error-color;
  }
}
