@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.footer {
  @include m.desktop {
    padding-top: 90px;
  }
}

.footer__contacts {
  border-bottom: 1px solid v.$stroke-br-color;
}

.footer__logo {
  margin-bottom: 15px;

  @include m.tablet {
    margin: 0;
  }

  @include m.desktop {
    margin-left: 29px;
  }
}

.footer__logo svg {
  color: v.$primary-color;
  display: block;
  transition: color ease 0.3s;
}

.footer__logo:hover svg {
  color: v.$additional-color-200;
}

.footer__logo:focus svg {
  color: v.$additional-color-basic;
}

.footer__logo:active svg {
  color: v.$active-color;
}

.footer__logo:not([href]) svg {
  color: v.$disabled-color;
  pointer-events: none;
}

.footer__navigation {
  padding-top: 23px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;


  @include m.tablet {
    padding-top: 34px;
    display: grid;
    grid-template-columns: 142px auto;
    gap: 29px 37px;
  }

  @include m.desktop {
    padding-top: 41px;
    grid-template-columns: 200px auto 200px;
    row-gap: 17px;
  }
}

.footer__nav {
  margin-bottom: 16px;

  @include m.tablet {
    margin: 0;
  }
}

.footer__nav-list,
.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-list {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 0 50px;
  justify-content: center;
  grid-template-areas:
    "tours reviews"
    "training photos"
    "about contacts";
  text-align: center;

  @include m.tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  @include m.desktop {
    column-gap: 11px;
  }
}

.footer__nav-item {
  &--tours {
    grid-area: tours;
  }

  &--training {
    grid-area: training;
  }

  &--about {
    grid-area: about;
  }

  &--reviews {
    grid-area: reviews;
  }

  &--photos {
    grid-area: photos;
  }

  &--contacts {
    grid-area: contacts;
  }
}

.footer__nav-link {
  position: relative;
  color: v.$primary-color;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 0 7px;
  display: block;

  @include m.desktop {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 16px;
  }

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: v.$primary-color;
    left: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity ease 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:focus {
    outline: 1px solid v.$primary-color;

    &::after {
      display: none;
    }
  }

  &:active {
    outline: none;
    color: v.$additional-color-basic;
  }

  &--disabled {
    color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;
  }
}

.footer__phone-link {
  display: none;

  @include m.desktop {
    display: block;
    color: v.$primary-color;
    text-decoration: none;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    transition: color ease 0.3s;
  }

  &:hover {
    color: v.$additional-color-200;
  }

  &:focus {
    color: v.$additional-color-basic;
    outline: none;
  }

  &:active {
    outline: none;
    color: v.$active-color;
  }

  &--disabled {
    background-color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;

  @include m.tablet {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @include m.desktop {
    grid-column: 2 / 3;
    margin-top: 14px;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid v.$stroke-br-color;
  text-decoration: none;
  transition: color ease 0.3s, border-color ease 0.3s, background-color ease 0.3s;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: v.$dark-color;
    transition: background-color ease 0.3s;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 16px 9px;
  }

  &--ok::before {
    mask-image: url("/__spritemap#sprite-odnoklassniki-view");
    mask-size: 9px 16px;
  }

  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 14px 15px;
  }

  &:hover {
    border-color: v.$primary-color
  }

  &:focus {
    outline: none;
    border-color: transparent;
  }

  &:active {
    background-color: v.$additional-color-basic;

    &::before {
      background-color: v.$white-color-basic;
    }
  }

  &--disabled {
    border-color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;

    &::before {
      background-color: v.$disabled-color;
    }
  }
}

.footer__privacy-policy {
  color: v.$primary-color;
  text-decoration: none;
  transition: color ease 0.3s;

  @include m.tablet {
    grid-column: 1 / 3;
    justify-self: center;
    font-size: 12px;
    line-height: 12px;
  }

  @include m.desktop {
    grid-column: 2 / 3;
  }

  &:hover {
    color: v.$additional-color-200;
  }

  &:focus {
    color: v.$additional-color-basic;
    outline: none;
  }

  &:active {
    color: v.$active-color;
  }

  &--disabled {
    background-color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;
  }
}
