@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @include m.desktop {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 610px;
    margin-left: 29px;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: v.$white-color-basic;
  text-transform: uppercase;
  width: 100%;
  padding: 11px 15px;
  display: block;
  transition: color ease 0.3s;

  @include m.tablet {
    font-size: 16px;
    line-height: 16px;
    padding: 13px 46px;
  }

  @include m.desktop {
    width: auto;
    padding: 4px 15px 4px 16px;
    font-weight: 400;
    text-transform: none;
  }

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: v.$white-color-basic;
    left: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity ease 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:focus {
    outline: 1px solid v.$white-color-basic;

    &::after {
      display: none;
    }
  }

  &:active {
    outline: none;
    color: v.$active-color;
  }

  &--disabled {
    color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;
  }
}
