@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.tours-card {
  display: flex;
  min-height: 416px;
  width: 290px;
  margin: 0 auto;
  position: relative;

  @include m.tablet {
    width: 330px;
  }

  @include m.desktop {
    width: 380px;
  }
}

.tours-card__image-wrapper {
  position: absolute;
  z-index: -1;
  width: 290px;
  height: 100%;

  @include m.tablet {
    width: 330px;
  }

  @include m.desktop {
    width: 380px;
  }
}

.tours-card__image {
  display: block;
  height: 100%;
}

.tours-card__content {
  color: v.$white-color-basic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;
  gap: 15px;
}

.tours-card__info {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 12px 7px;
  flex-wrap: wrap;

  @include m.tablet {
    justify-content: space-between;
  }
}

.tours-card__info-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
}

.tours-card__info-item--location {
  justify-content: flex-start;
  background-color: v.$additional-color-basic;
  padding: 6px 13px 6px 16px;
  gap: 9px;

  @include m.tablet {
    padding-top: 9px;
    padding-bottom: 8px;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 9px;
    height: 12px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: v.$white-color-basic;
    mask-image: url("/__spritemap#sprite-pin-white-view");
    mask-size: 9px 12px;
  }
}

.tours-card__info-item--durarion {
  gap: 16px;

  @include m.desktop {
    gap: 15px;
  }
}

.tours-card__info-item--durarion span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    mask-position: center;
    background-color: v.$white-color-basic;
  }

  &:first-child::before {
    mask-image: url("/__spritemap#sprite-sun-view");
  }

  &:last-child::before {
    width: 16px;
    height: 16px;
    mask-size: 16px 16px;
    mask-image: url("/__spritemap#sprite-moon-view");
  }

  @include m.tablet {
    gap: 14px;
  }

  @include m.desktop {
    gap: 13px;
  }
}

.tours-card__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: v.$white-color-200;
    display: block;
    bottom: 0;
    left: 0;
  }

  @include m.desktop {
    width: 235px;
  }
}

.tours-card__preview {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;

  @include m.tablet {
    gap: 27px;
  }

  @include m.desktop {
    gap: 52px
  }
}

.tours-card__name {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.tours-card__stars {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  display: block;
  width: 84px;
  height: 16px;

  &--three {
    background-image: url("/__spritemap#sprite-stars-3-view");
  }

  &--four {
    background-image: url("/__spritemap#sprite-stars-4-view");
  }

  &--five {
    background-image: url("/__spritemap#sprite-stars-5-view")
  }
}

.tours-card__value {
  padding: 0;
  margin: 0;
  margin-top: 7px;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}
