@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;


.tours {
  padding-top: 39px;
  padding-bottom: 20px;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include m.desktop {
    padding-top: 123px;
    padding-bottom: 102px;
  }
}

.tours__heading {
  margin-bottom: 39px;

  @include m.tablet {
    margin-bottom: 35px;
  }

  @include m.desktop {
    margin-bottom: 50px;
  }
}

.tours__wrapper {
  margin-bottom: 25px;
  position: relative;

  @include m.desktop {
    margin-bottom: 54px;
  }
}

.tours__swiper-buttons {
  @include m.tablet {
    position: absolute;
    right: 0;
    top: -60px;
  }

  @include m.desktop {
    top: -88px;
  }
}

.tours__all-link {
  padding: 10px;
  color: v.$primary-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  gap: 8px;
  letter-spacing: 0.55px;
  transition: color ease 0.3s;

  &::after {
    content: "";
    width: 12px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    mask-size: 12px 14px;
    mask-repeat: no-repeat;
    background-color: v.$primary-color;
    mask-position: center;
    transition: background-color ease 0.3s;
  }

  @include m.tablet {
    font-size: 16px;
    line-height: 16px;
    margin-left: 3px;
    gap: 10px;
  }

  &:hover {
    color: v.$additional-color-200;

    &::after {
      background-color: v.$additional-color-200;
    }
  }

  &:focus {
    color: v.$additional-color-basic;
    outline: none;

    &::after {
      background-color: v.$additional-color-basic;
    }
  }

  &:active {
    color: v.$active-color;

    &::after {
      background-color: v.$active-color;
    }
  }

  &--disabled {
    background-color: v.$disabled-color;
    cursor: none;
    pointer-events: none;
    outline: none;
  }
}

