@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.training {
  padding-top: 37px;

  @include m.tablet {
    padding-top: 60px;
  }
}

.training__heading {
  margin-bottom: 33px;

  @include m.tablet {
    margin-bottom: 34px;
  }
}

.training__container p {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 20px;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
  }

  @include m.desktop {
    max-width: 875px;
  }
}

.training__title {
  margin-bottom: 21px;

  @include m.tablet {
    margin-bottom: 37px;
  }
}

.training__card {
  width: 290px;

  @include m.tablet {
    width: 212px;
  }
}

.training__wrapper {
  margin-bottom: 25px;
  position: relative;

  @include m.tablet {
    margin-bottom: 26px;
  }
}

.training__process-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: left;

  @include m.tablet {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 101px;
  }
}

.training__process-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;


  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 103px 131px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 24px);
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    background-color: v.$additional-color-basic;

    @include m.tablet {
      display: none;
    }
  }
}

.training__process-item {
  display: flex;
  align-items: center;
  line-height: 18px;

  @include m.tablet {
    line-height: 22px;
    text-wrap: balance;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    min-width: 14px;
    height: 14px;
    background-color: v.$additional-color-basic;
    border-radius: 50%;
    flex-shrink: 0;
    order: -1;
    margin-right: 15px;

    @include m.tablet {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 25px 25px;
    order: -1;
    flex-shrink: 0;
    margin-right: 9px;
    align-self: flex-start;
    background-color: v.$primary-color;
  }

  &--movement {
    &::after {
      mask-image: url("/__spritemap#sprite-map-view");
    }

    @include m.tablet {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &--equipment {
    &::after {
      mask-image: url("/__spritemap#sprite-boots-view");
    }

    @include m.tablet {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &--ecology {
    &::after {
      mask-image: url("/__spritemap#sprite-pine-tree-view");
    }

    @include m.tablet {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &--complexity {
    &::after {
      mask-image: url("/__spritemap#sprite-mountain-view");
    }

    @include m.tablet {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

.training__swiper-buttons {
  display: none;

  @include m.tablet {
    display: flex;
    justify-content: end;
    gap: 4px;
    position: absolute;
    right: 0;
    top: -64px;
  }

  @include m.desktop {
    top: -64px;
  }
}
