@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.training {
  padding-top: 37px;

  @include m.tablet {
    padding-top: 60px;
    background-position: right 0 top 614px;
    background-size: 464px 280px;
    background-image: url("/img/background/clouds-tablet-2@1x.webp");
    background-repeat: no-repeat;

    @media (resolution >= 2dppx) {
      background-image: url("/img/background/clouds-tablet-2@2x.webp");
    }
  }

  @include m.desktop {
    padding-top: 62px;
    padding-bottom: 40px;
    background-position: right 0 top 610px;
    background-size: 631px 280px;
    background-image: url("/img/background/clouds-desktop-2@1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("/img/background/clouds-desktop-2@2x.webp");
    }
  }
}

.training__heading {
  margin-bottom: 33px;

  @include m.tablet {
    margin-bottom: 34px;
  }

  @include m.desktop {
    margin-bottom: 32px;
  }
}

.training__container p {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 20px;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
  }

  @include m.desktop {
    max-width: 875px;
    margin-bottom: 62px;
  }
}

.training__title {
  margin-bottom: 21px;

  @include m.tablet {
    margin-bottom: 37px;
  }

  @include m.desktop {
    margin-bottom: 16px;
  }
}

.training__card {
  width: 290px;

  @include m.tablet {
    width: 212px;
  }

  @include m.desktop {
    width: 285px;
  }
}

.training__wrapper {
  margin-bottom: 25px;
  position: relative;

  @include m.tablet {
    margin-bottom: 26px;
  }

  @include m.desktop {
    margin-bottom: 57px;
  }
}

.training__process-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: left;

  @include m.tablet {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 101px;
  }

  @include m.desktop {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 26px;
  }
}

.training__process-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;


  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 103px 131px;
  }

  @include m.desktop {
    padding-left: 10px;
    padding-bottom: 9px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    display: block;
    height: calc(100% - 24px);
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    background-color: v.$additional-color-basic;

    @include m.tablet {
      display: none;
    }

    @include m.desktop {
      display: block;
      width: calc(100% - 30px);
      height: 2px;
      top: 100%;
      left: 30px;
    }
  }
}

.training__process-item {
  display: flex;
  align-items: center;
  line-height: 18px;

  @include m.tablet {
    line-height: 22px;
    text-wrap: balance;
  }

  @include m.desktop {
    max-width: 233px;
    font-size: 16px;
    line-height: 24px;
    align-items: flex-start;
    text-wrap: unset;
    position: relative;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    min-width: 14px;
    height: 14px;
    background-color: v.$additional-color-basic;
    border-radius: 50%;
    flex-shrink: 0;
    order: -1;
    margin-right: 15px;

    @include m.tablet {
      display: none;
    }

    @include m.desktop {
      display: inline-block;
      position: absolute;
      bottom: -16px;
      left: 10px;
    }
  }

  &::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 25px 25px;
    order: -1;
    flex-shrink: 0;
    margin-right: 9px;
    align-self: flex-start;
    background-color: v.$primary-color;

    @include m.desktop {
      margin-top: 3px;
    }
  }

  &--movement {
    &::after {
      mask-image: url("/__spritemap#sprite-map-view");
    }

    @include m.tablet {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &--equipment {
    &::after {
      mask-image: url("/__spritemap#sprite-boots-view");
    }

    @include m.tablet {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &--ecology {
    &::after {
      mask-image: url("/__spritemap#sprite-pine-tree-view");
    }

    @include m.tablet {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &--complexity {
    text-wrap: balance;

    &::after {
      mask-image: url("/__spritemap#sprite-mountain-view");
    }

    @include m.tablet {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-wrap: unset;
    }
  }
}

.training__process-item--ecology::before {
  @include m.desktop {
    left: -9px;
  }
}

.training__swiper-buttons {
  display: none;

  @include m.tablet {
    display: flex;
    justify-content: end;
    gap: 4px;
    position: absolute;
    right: 0;
    top: -64px;
  }

  @include m.desktop {
    top: -55px;
  }
}
